doctype html
html(lang='fr')
  head
    title Vie de Julia
    link(rel='stylesheet' type='text/css' href='main.css')

  body
    header
      h1 Vie de Julia

    #timeline
      ul
        li
          = 'Naissance'
          .date= '2014-01-09'
        li
          = 'Fais ses nuits'
          .date= '2014-03'
        li
          = 'Naissance'
          .date= '2014-01-09'
        li
          = 'Fais ses nuits'
          .date= '2014-03'
        li
          = 'Naissance'
          .date= '2014-01-09'
        li
          = 'Fais ses nuits'
          .date= '2014-03'
        li
          = 'Naissance'
          .date= '2014-01-09'
        li
          = 'Fais ses nuits'
          .date= '2014-03'
        li
          = 'Naissance'
          .date= '2014-01-09'
        li
          = 'Fais ses nuits'
          .date= '2014-03'
        li
          = 'Naissance'
          .date= '2014-01-09'
        li
          = 'Fais ses nuits'
          .date= '2014-03'
        li
          = 'Naissance'
          .date= '2014-01-09'
        li
          = 'Fais ses nuits'
          .date= '2014-03'
        li
          = 'Naissance'
          .date= '2014-01-09'
        li
          = 'Fais ses nuits'
          .date= '2014-03'
